:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow";
}

/*----------------------MOBILE--------------------*/
h1{
    text-align: center;
}

h4{
    text-align: center;
}

form{
    text-align: center;
    /* display: inline-block; */
    flex-wrap: nowrap;
}

.ingreso{
    text-align: center;
}

/*=========================
---REDES SOCIALES DESKTOP---
=========================*/
article.redesDesktop {
    display: none;
}


@media (min-width: 1024px) {
/*=========================
-------DIV CONTAINER--------
=========================*/
    div.container {
        position: relative;
        padding: 0 100px
    }

/*=========================
---REDES SOCIALES DESKTOP---
=========================*/
    article.redesDesktop {
        position: absolute;
        top: 150px;
        bottom: 100px;
        right: 100px;
        left: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    article.redesDesktop a.facebook {
        background-color: #3b5998;
        border-radius: 140px;
    }
    article.redesDesktop a.facebook i {
        padding: 75px;
        font-size: 75px;
        color: #fff;
    }
    article.redesDesktop a.whatsapp {
        background-color: #25d366;
        border-radius: 140px;
    }
    article.redesDesktop a.whatsapp i {
        padding: 75px;
        font-size: 75px;
        color: #fff;
    }
    article.redesDesktop a.instagram {
        background-color: var(--colorPrincipal);
        background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        border-radius: 140px;
    }
    article.redesDesktop a.instagram i {
        padding: 75px;
        font-size: 75px;
        color: #fff;
    }
}