@import url('styleGeneral.css');
@import url('styleHome.css');
@import url('styleProduct.css');
@import url('styleProductList.css');
@import url('styleCart.css');
@import url('styleLogin.css');
@import url('styleRegister.css');
@import url('styleNewProducts.css')