:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow";
}
/*----------------------MOBILE--------------------*/

/*=========================
-------HEADER DESKTOP-------
=========================*/
header.desktop {
    display: none;
}

/*=========================
-------HEADER MOBILE--------
=========================*/    

header.mobile div.headerMobileArriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.mobile div.headerMobileArriba a.logo {
    margin-top: 10px;
    margin-left: 10px;
}
header.mobile div.headerMobileArriba img {
    height: 40px;
}

header.mobile div.headerMobileArriba div.iconos {
    display: flex;
    align-items: center;
}
header.mobile div.headerMobileArriba div.iconos i.fa-search {
    margin-right: 10px;
    color: black;
    font-size: 25px;
}

header.mobile div.headerMobileArriba div.iconos a.userIcon {
    text-decoration: none;
}
header.mobile div.headerMobileArriba div.iconos a.userIcon i.fa-user-circle {
    margin-right: 10px;
    color: black;
    font-size: 25px;
}

header.mobile div.headerMobileArriba div.iconos img#imgPerfil {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

header.mobile div.user {
    display: none;
    width: 100%;
    height: 60px;
    background-color: #424242;
}
header.mobile div.user ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
}
header.mobile div.user ul li.miperfil {
    height: 50%;
}
header.mobile div.user ul li.miperfil a {}
header.mobile div.user ul li.miperfil a button.misdatos {
    width: 95%;
    height: 90%;
    background-color: #424242;
    color: #fff;
}
header.mobile div.user ul li.logOut {
    height: 50%;
}
header.mobile div.user ul li.logOut a {}
header.mobile div.user ul li.logOut a button.logOut{
    width: 95%;
    height: 90%;
    background-color: #424242;
    color: #fff;
}

header.mobile form#searchBar {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ddd;
}
header.mobile form#searchBar input#search {
    width: 90%;
    text-align: center;
    color: lightslategrey;
}


/*=============================
--SECTION BAR. DE NAV. DESKTOP--
==============================*/
section.barDeNav {
    display: none;
}

/*=========================
-------FOOTER DESKTOP-------
=========================*/
footer.footerDesktop {
    display: none;
}
/*=========================
-------FOOTER MOBILE-------
=========================*/
footer.footerMobile {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}
footer.footerMobile a.facebook {
    background-color: #3b5998;
    border-radius: 140px;
}
footer.footerMobile a.facebook i {
    padding: 25px;
    font-size: 2rem;
    color: #fff;
}
footer.footerMobile a.whatsapp {
    margin-left: 10px;
    background-color: #25d366;
    border-radius: 140px;
}
footer.footerMobile a.whatsapp i {
    padding: 25px;
    font-size: 2rem;
    color: #fff;
}
footer.footerMobile a.instagram {
    margin-left: 10px;
    background-color: var(--colorPrincipal);
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border-radius: 140px;
}
footer.footerMobile a.instagram i {
    padding: 25px;
    font-size: 2rem;
    color: #fff;
}

/*----------------------DESKTOP--------------------*/

@media (min-width: 1024px) {
    /*=========================
    -------DIV CONTAINER--------
    =========================*/
    div.container {
        padding: 0 100px
    }
    
    /*=========================
    -------HEADER MOBILE--------
    =========================*/
        header.mobile {
            display: none;
        }
    /*=========================
    -------HEADER DESKTOP-------
    =========================*/
    header.desktop {
        width: 100%;
        display: flex;
        align-items: center;
        height: 100px;
    }
    header.desktop a.logo {
        width: 30%;
    }
    header.desktop a.logo img {
        width: 100%;
    }
    header.desktop form {
        width: 45%;
    }
    header.desktop form input {
        width: 85%;
        height: 30px;
        border-radius: 5px 0 0 5px;
        text-align: center;
    }
    header.desktop form button {
        width: 10%;
        height: 30px;
        border-radius: 0 5px 5px 0;
        background-color: #fff;
    }
    header.desktop form button i {
        font-size: 15px;
    }
    header.desktop nav.default {
        width: 25%;
    }
    header.desktop nav.default ul.default {
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        text-transform: uppercase;
    }
    header.desktop nav.default ul.default li {}
    header.desktop nav.default ul.default li a {
        text-decoration: none;
        color: black;
    }

    /*Con session*/

    header.desktop nav.sessionOk {
        width: 25%;
    }
    header.desktop nav.sessionOk ul.sessionOk {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        list-style: none;
    }
    header.desktop nav.sessionOk ul.sessionOk a.perfil {
        width: 20%;
        text-decoration: none;
        color: black;
    }
    header.desktop nav.sessionOk ul.sessionOk a.perfil li.userName {
        width: 50%;
    }
    header.desktop nav.sessionOk ul.sessionOk a.perfil li.userAvatar{
        width: 30%;
    }
    header.desktop nav.sessionOk ul.sessionOk a.perfil li.userAvatar img {
        width: 100%;
        border-radius: 100px;  
    }
    header.desktop nav.sessionOk ul.sessionOk li.contacto {
        width: 25%;
    }
    header.desktop nav.sessionOk ul.sessionOk li.contacto a.contacto {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }

    header.desktop nav.sessionOk ul.sessionOk li.cierreSesion {
        width: 35%;
    }
    header.desktop nav.sessionOk ul.sessionOk li.cierreSesion a.cierreSesion {
        text-decoration: none;
        color: black;
        text-transform: uppercase;   
    }

    
/*=============================
--SECTION BAR. DE NAV. DESKTOP--
==============================*/
section.barDeNav {
    margin-bottom: var(--marginPrincipal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4054B2;
    height: 55px;
    }
    section.barDeNav nav {}
    section.barDeNav nav ul {
    display: flex;
    list-style-type: none;
    }
    section.barDeNav nav ul li {
    margin-left: 35px;
    }
    section.barDeNav nav ul li :first-child {
    margin-left: 0;
    }
    section.barDeNav nav ul li a {}
    section.barDeNav nav ul li a button {
    width: 250px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--colorPrincipal);
    color: #fff;
    border-radius: 5px;
    border-color: var(--colorPrincipal);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    }
    section.barDeNav nav ul li a button:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    }

/*=========================
-------FOOTER DESKTOP-------
=========================*/
    footer.footerDesktop {
        display: block;
        margin-top: 200px;
        padding: 70px 0px 20px 0px;
        background-color: #424242;
    }
    footer.footerDesktop div.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer.footerDesktop div.container a.logofooter img {
        width: 80px;
    }
    footer.footerDesktop div.container ul {
        list-style-type: none;
    }

    footer.footerDesktop div.container ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: small;
    }
    footer.footerDesktop div.container ul.redSocial {
        display: flex;
    }
    footer.footerDesktop div.container ul.redSocial li {
        margin-left: 15px;
    }
    footer.footerDesktop div.container ul.redSocial li :first-child {
        margin-left: 0px;
    }

    footer.footerDesktop div.container ul.redSocial li a i {
        font-size: 30px;
        color: #fff;
    }
    small {
        color:black;
        font-size: x-small;
    }
/*=========================
-------FOOTER MOBILE-------
=========================*/
    footer.footerMobile {
        display: none;
    }
}
