:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow";
}

.newProducts{
    text-align: center;
}

/*----------------------MOBILE--------------------*/

/*=============================
--SECTION BAR. DE NAV. DESKTOP--
==============================*/
section.barDeNav {
    display: none;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}


@media (min-width: 1024px) {
    /*=========================
    -------DIV CONTAINER--------
    =========================*/
    div.container {
        position: relative;
        padding: 0 100px
    }

/*=============================
--SECTION BAR. DE NAV. DESKTOP--
==============================*/
section.barDeNav {
    margin-bottom: var(--marginPrincipal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4054B2;
    height: 55px;
    }
    section.barDeNav nav {}
    section.barDeNav nav ul {
    display: flex;
    list-style-type: none;
    }
    section.barDeNav nav ul li {
    margin-left: 35px;
    }
    section.barDeNav nav ul li :first-child {
    margin-left: 0;
    }
    section.barDeNav nav ul li a {}
    section.barDeNav nav ul li a button {
    width: 250px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--colorPrincipal);
    color: #fff;
    border-radius: 5px;
    border-color: var(--colorPrincipal);
    }

    /*=========================
    ---REDES SOCIALES DESKTOP---
    =========================*/
        article.redesDesktop {
            position: absolute;
            top: 150px;
            bottom: 100px;
            right: 100px;
            left: 100px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        article.redesDesktop a.facebook {
            background-color: #3b5998;
            border-radius: 140px;
        }
        article.redesDesktop a.facebook i {
            padding: 75px;
            font-size: 75px;
            color: #fff;
        }
        article.redesDesktop a.whatsapp {
            background-color: #25d366;
            border-radius: 140px;
        }
        article.redesDesktop a.whatsapp i {
            padding: 75px;
            font-size: 75px;
            color: #fff;
        }
        article.redesDesktop a.instagram {
            background-color: var(--colorPrincipal);
            background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
            border-radius: 140px;
        }
        article.redesDesktop a.instagram i {
            padding: 75px;
            font-size: 75px;
            color: #fff;
        }
    }