:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow";
}

/*----------------------MOBILE--------------------*/

/*=========================
----LISTADO DE PRODUCTOS----
=========================*/
h2 {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--colorPrincipal);
}
article.listadoProductos {}
article.listadoProductos a {}
article.listadoProductos a img {}
article.listadoProductos a p.nombre {}
article.listadoProductos a p.precio {}
