:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow";
    text-align: center;
}

.forms{
    text-align: center;
}

/*----------------------MOBILE--------------------*/

/*=============================
--SECTION BAR. DE NAV. DESKTOP--
==============================*/
section.barDeNav {
    display: none;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}


@media (min-width: 1024px) {
    /*=========================
    -------DIV CONTAINER--------
    =========================*/
    div.container {
        position: relative;
        padding: 0 100px
    }

/*=============================
--SECTION BAR. DE NAV. DESKTOP--
==============================*/
section.barDeNav {
    margin-bottom: var(--marginPrincipal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4054B2;
    height: 55px;
    }
    section.barDeNav nav {}
    section.barDeNav nav ul {
    display: flex;
    list-style-type: none;
    }
    section.barDeNav nav ul li {
    margin-left: 35px;
    }
    section.barDeNav nav ul li :first-child {
    margin-left: 0;
    }
    section.barDeNav nav ul li a {}
    section.barDeNav nav ul li a button {
    width: 250px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--colorPrincipal);
    color: #fff;
    border-radius: 5px;
    border-color: var(--colorPrincipal);
    }

    /*=========================
    ---REDES SOCIALES DESKTOP---
    =========================*/
        article.redesDesktop {
            position: absolute;
            top: 150px;
            bottom: 100px;
            right: 100px;
            left: 100px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        article.redesDesktop a.facebook {
            background-color: #3b5998;
            border-radius: 140px;
        }
        article.redesDesktop a.facebook i {
            padding: 75px;
            font-size: 75px;
            color: #fff;
        }
        article.redesDesktop a.whatsapp {
            background-color: #25d366;
            border-radius: 140px;
        }
        article.redesDesktop a.whatsapp i {
            padding: 75px;
            font-size: 75px;
            color: #fff;
        }
        article.redesDesktop a.instagram {
            background-image: url("https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c5fe0378-6694-42e6-8495-8beff78ac206/instagram-gradient-background-1-normal-636.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210218%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210218T234359Z&X-Amz-Expires=86400&X-Amz-Signature=801302cbaf968fd9fa89e0ad4b21a990d948f830d3b3aad98688e98ed4ab2dc1&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22instagram-gradient-background-1-normal-636.png%22");
            background-color: var(--colorPrincipal);
            border-radius: 140px;
        }
        article.redesDesktop a.instagram i {
            padding: 75px;
            font-size: 75px;
            color: #fff;
        }
    }