:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow";
}

/*---------------------MOBILE----------------------*/


/*=========================
--- PRODUCT CART MOBILE ---
=========================*/
div.productCartDesktop{
    display: none;
}

div.productCartMobile{
    position: relative;
    
}

div.productCartMobile div {
    display: flex;
}
div.productCartMobile .carrito {
    position: relative;
}
div.productCartMobile .carrito .productosAgregados {
    display: inline-block;
    width: 100%;
}
div.productCartMobile .carrito .productosAgregados article {
    display: flex; 
    justify-content: space-between;
    align-items: center; /* EJE SECUNDARIO */
    border-bottom: 1px solid grey;
}

div.productCartMobile .carrito .productosAgregados article p {
    position: relative;
    text-align: start;
}

div.productCartMobile .carrito .productosAgregados article img {
    width: 30%;
    height: 30%;
    text-align: left;
}

/* div.productCartMobile .carrito .productosAgregados article ul{} */

div.productCartMobile .carrito .productosAgregados article ul li {
    margin: 5px 10px;
    text-align: right;
    list-style-type: none;
}

div.productCartMobile .carrito .productosAgregados article ul li form {
    text-align: right;
}

/* div.productCartMobile .carrito .productosAgregados article ul li form label {} */

div.productCartMobile .carrito .productosAgregados article ul li form input {
    margin: 0px auto;
    width: 15%;
    text-align: center;
}

/*=========================
--- TOTAL PAYMENT MOBILE ---
=========================*/

div.totalCarrito {
    position: relative;
    padding-right: 10px;
    border-top: 1px solid grey;
    background-color: var(--colorPrincipal);
    padding-bottom: 5px;
}
div.totalCarrito article {
    text-align: right;
    margin: 0px auto;
} 

div.totalCarrito ul li {
    margin-top: 2px;
    list-style-type: none;

}

/* div.totalCarrito ul li form {} */
/* div.totalCarrito ul li form label {} */

div.totalCarrito ul li form input {
    width: 15%;
    text-align: center;
}

/*---------------------TABLET----------------------*/
@media (min-width: 768px) {
   

}

/*---------------------DESKTOP----------------------*/


/*=========================
---PRODUCT CART DESKTOP---
=========================*/

@media (min-width: 1024px) {
    
    div.productCartMobile{
        display: none;
        
    }    
    
    div.productCartDesktop{
        display: block;
        position: relative;
    }

    div.productCartDesktop div {
        display: flex;
    }
    
    div.productCartDesktop .carrito {
        position: relative;
    }

    div.productCartDesktop .carrito .productosAgregados {
        display:  inline-block;
        text-align: end;
        width: 100%;
    }

    div.productCartDesktop .carrito .productosAgregados article {
        width: 100%;
        display: flex; 
        justify-content: space-between;
        align-items: center; /* EJE SECUNDARIO */
        border-bottom: 1px solid grey;
    }

    div.productCartDesktop .carrito .productosAgregados article img {
        width: 30%;
        height: 30%;
        text-align: left;
    }

    div.productCartDesktop .carrito .productosAgregados article ul{
        display: flex;
        font-size: 1rem;
        width: 25%;
        justify-content: space-evenly;
    }
    div.productCartDesktop .carrito .productosAgregados article ul li {
        /* margin: 5px 10px; */
        text-align: right;
        list-style-type: none;
    }

    div.productCartDesktop .carrito .productosAgregados article ul li form {
        text-align: right;
        padding: 2px auto;
    }

    /* div.productCartDesktop .carrito .productosAgregados article ul li form label {} */
    div.productCartDesktop .carrito .productosAgregados article ul li form input {
        margin: 0px auto;
        width: 30%;
        text-align: center;
}

}