:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow";
}

/*----------------------MOBILE--------------------*/

/*=========================
----LISTADO DE PRODUCTOS----
=========================*/
h2 {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--colorPrincipal);
}
a.aProduct{
    text-decoration: none;
}
a.aProduct article.product {
    margin-top: 25px;
    margin-bottom: 25px;
}
a.aProduct article.product div.productConteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.aProduct article.product div.productConteiner img {
    width: 35%;
}
a.aProduct article.product div.productConteiner div.detalle {
    width: 65%;
}
a.aProduct article.product div.productConteiner div.detalle h3 {
    color: black;
}
a.aProduct article.product div.productConteiner div.detalle h1 {
    color: black;
}

/*----------------------TABLET--------------------*/
@media (min-width: 768px){


div.container {
    position: relative;
    padding: 0 100px
}
}

/*----------------------DESKTOP--------------------*/

@media (min-width: 1024px){
a.aProduct article.product {
    padding: 15px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

}