:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow";
}

/*----------------------MOBILE--------------------*/
section.newProduct{
    margin-top: 10px;
}
section.newProduct h1.newProduct{}
section.newProduct form#form_newProduct{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px 15px var(--marginPrincipal) 15px;
    padding: 10px 20px;
    background-color: var(--colorPrincipal);
    border-radius: 20px;
}

section.newProduct form#form_newProduct label{}
section.newProduct form#form_newProduct small{}
section.newProduct form#form_newProduct input{
    margin-bottom: 15px;
    height: 25px;
    border-color: #fff;
    border-radius: 10px;
}

section.newProduct form#form_newProduct textarea{
    margin-bottom: 15px;
    border-color: #fff;
    border-radius: 10px;
}

section.newProduct form#form_newProduct label.categoriaTitulo{}

section.newProduct form#form_newProduct div.categoriaNewProduct{
    margin-bottom: var(--marginPrincipal);
    display: flex;
    flex-direction: column;
}

section.newProduct form#form_newProduct div.categoriaNewProduct div.cat_newProduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.newProduct form#form_newProduct div.categoriaNewProduct div.cat_newProduct label#cat_newProduct{
    margin: 0;
    padding: 0;
}

section.newProduct form#form_newProduct div.categoriaNewProduct div.cat_newProduct input#cat_newProduct{
    margin: 0;
    padding: 0;
}

section.newProduct form#form_newProduct input#submit_newProduct{
    background-color: #fff;
    border-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

section.newProduct form#form_newProduct input#submit_newProduct:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
} 

/*=========================
---REDES SOCIALES DESKTOP---
=========================*/
article.redesDesktop {
    display: none;
}

/*----------------------TABLET--------------------*/
@media (min-width: 768px) {
    section.newProduct{
        padding: 0 100px;
    }

    section.newProduct form#form_newProduct div.categoriaNewProduct{
        padding: 0 30px;
    }
}
/*----------------------DESKTOP-------------------*/
@media (min-width: 1024px) {

    section.newProduct{
        padding: 0 100px;
    }

    section.newProduct form#form_newProduct input{
        margin: 0 auto 15px;
        width: 40%;
    }
    section.newProduct form#form_newProduct div.categoriaNewProduct{
        padding: 0 250px;
    }
    section.newProduct form#form_newProduct div.categoriaNewProduct div.cat_newProduct input#cat_newProduct{
        width: auto;
    }
    @media (min-width: 1440px) {
        section.newProduct{
            padding: 0 250px;
        }
        section.newProduct form#form_newProduct div.categoriaNewProduct{
            padding: 0 300px;
        }

    }

    /*=========================
-------DIV CONTAINER--------
=========================*/
    div.container {
        position: relative;
        padding: 0 100px
    }

/*=========================
---REDES SOCIALES DESKTOP---
=========================*/
    article.redesDesktop {
        position: absolute;
        top: 150px;
        bottom: 100px;
        right: 100px;
        left: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    article.redesDesktop a.facebook {
        background-color: #3b5998;
        border-radius: 140px;
    }
    article.redesDesktop a.facebook i {
        padding: 75px;
        font-size: 75px;
        color: #fff;
    }
    article.redesDesktop a.whatsapp {
        background-color: #25d366;
        border-radius: 140px;
    }
    article.redesDesktop a.whatsapp i {
        padding: 75px;
        font-size: 75px;
        color: #fff;
    }
    article.redesDesktop a.instagram {
        background-color: var(--colorPrincipal);
        background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        border-radius: 140px;
    }
    article.redesDesktop a.instagram i {
        padding: 75px;
        font-size: 75px;
        color: #fff;
    }
}