:root {
    --colorPrincipal: #6EC1E4;
    --marginPrincipal: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow";
}

/*TITULAR PERFIL DESKTOP*/

section.tituloPerfilDesk {
    display: none;
}

/*TITULAR PERFIL MOBILE*/

section.tituloPerfil{
        margin-top: 15px;
        margin-bottom: 20px;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: var(--colorPrincipal);
}
section.tituloPerfil img.imgPerfil{
    width: 90px;
    height: 90px;
    border-radius: 60px;
}
section.tituloPerfil h1.h1Perfil{
    text-transform: uppercase;
    color: #fff;
}

/*FORM EDIT PERFIL*/

section.sectionPerfil {
    padding: 0 10px;
}
section.sectionPerfil h1.h1SectionPerfil {
    text-align: center;
    text-transform: uppercase;
}
section.sectionPerfil p.pSectionPerfil {
    text-align: center;
}

form.formEditPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorPrincipal);
    border-radius: 20px;
    padding: 10px 0;
}

form.formEditPerfil input {
    width: 230px;
    height: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-color: #fff;
    border-radius: 10px;
}

form.formEditPerfil label#id {
    display: none;
}
form.formEditPerfil input#id {
    display: none;
}

form.formEditPerfil input#email {
    text-transform: lowercase;
}

form.formEditPerfil p.pFormEditPerfil {
    margin-top: 20px;
}

form.formEditPerfil small.smallFormPerfil {
    margin-bottom: 20px;
}

form.formEditPerfil input.inputEditar {
    width: 100px;
    height: 35px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

form.formEditPerfil input.inputEditar:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*FORM DELETE PERFIL*/
section.sectionPerfil p.pDeletePerfil {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

section.sectionPerfil form.formDeletePerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorPrincipal);
    border-radius: 20px;
    padding: 10px 0;
}

form.formEditPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorPrincipal);
    border-radius: 20px;
    padding: 10px 0;
}

section.sectionPerfil form.formDeletePerfil a {}

form.formDeletePerfil small.smallFormPerfil {
    margin-bottom: 20px;
}

form.formDeletePerfil input {
    width: 230px;
    height: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-color: #fff;
    border-radius: 10px;
}
section.sectionPerfil form.formDeletePerfil a button#deleteButton {
    width: 300px;
    height: 35px;
    border-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

section.sectionPerfil form.formDeletePerfil a button#deleteButton:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*------------TABLET-------------*/
@media (min-width: 768px){
    section.sectionPerfil {
        padding: 0 70px;
    }
}
/*------------DESKTOP-------------*/

@media (min-width: 1024px) {
section.sectionPerfil {
    padding: 0 100px;
}

/*TITULAR PERFIL MOBILE*/

section.tituloPerfil {
    display: none;
}

/*TITULAR PERFIL MOBILE*/

div.containerPerfil{
    margin: 0 150px;
    background-color: lightgray;
}

section.tituloPerfilDesk{
    display: block;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    background-color: var(--colorPrincipal);
}
section.tituloPerfilDesk img.imgPerfilDesk{
    margin-bottom: 25px;
    width: 250px;
    height: 250px;
    border-radius: 140px;
}
section.tituloPerfilDesk h1.h1PerfilDesk{
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

/*FORM EDIT PERFIL*/

section.sectionPerfil h1.h1SectionPerfil {
    padding-top: 10px;
}

/*FORM DELETE PERFIL*/

section.sectionPerfil form.formDeletePerfil {
    margin-bottom: 0;
}
}