<!DOCTYPE html>
<html>
<!------HEAD------>
    <head>
        <%- include("partials/head.ejs") %>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/styleHome.css'>
    </head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("partials/header.ejs") %>

<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("partials/barraDeNavegacion.ejs") %>

<!------SECTION SLIDER------>
    <section class="slider">
        <img src="/img/muestra_banner.jpg">
    </section>
 <!------SECTION CATEGORIAS------>
    <section class="categorias">
        <a href="#" class="aireAcondicionado"><div>
            <img src="/img/categoria_AiresAcondicionados.jpg">
            <h1>Aires Acondicionados</h1>
        </div></a>
        <a href="#" class="calefaccion"><div>
            <img src="/img/categoria_Calefaccion.png">
            <h1>Calefaccion</h1>
        </div></a>
        <a href="#" class="aguaCalienteSanitaria"><div>
            <img src="/img/categoria_AguaCalienteSanitaria.jpg">
            <h1>Agua Caliente Sanitaria</h1>
        </div></a>
    </section>
<!------PRODUCTOS DESTACADOS------>
    <section class="productosDestacados">
        <h2>Productos destacados</h2>
            <div class="container">
                <div class="bloqueProductos1">
                    <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                    <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                    <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                    <a class="logo" href="#"><img src="/img/producto.jpg"></a>    
                </div>
                <div class="bloqueProductos2">
                    <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                    <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                    <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                    <a class="logo" href="#"><img src="/img/producto.jpg"></a>    
                </div>
            </div>
    </section>
<!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>

<!------FOOTER DESKTOP AND MOBILE------>
    <%- include("partials/footer.ejs") %>
</body>
</html>