<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Logo -->
    <link rel="shortcut icon" href="/img/logo_title.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | B&B Clima</title>
    <!-- Iconografia & Fonts -->
    <script src="https://kit.fontawesome.com/65417c754c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Armata&family=Barlow&family=Roboto&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styleGeneral.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styleCart.css'>
    <!-- APP.js -->
    <script src="../../app.js"></script>
</head>
<body>
<!------HEADER DESKTOP------>  
    <div class="container">    
    <header class="desktop">
            <a class="logo" href="#"><img src="/img/logo_B&B.jpg"></a>
            <form action="" method="">
                <input type="text" name="Search" placeholder="Encuentra tu próximo Aire Acondicionado"><button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <nav>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Registro</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
    </div>
    </div>
<!------HEADER MOBILE------>
    <header class="mobile">
        <div class="bars">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
        <a href="#"><img src="/img/logo_B&B.jpg"></a>
        <div class="search">
            <a href="#"><i class="fas fa-search"></i></a>
        </div>
    </header>

    <!------SECTION BAR. DE NAV. DESKTOP------>
    <section class="barDeNav">
        <nav>
            <ul>
                <li><a href="#"><button>Categorias</button></a></li>
                <li><a href="#"><button>Departamento de obras</button></a></li>
                <li><a href="#"><button>La empresa</button></a></li>
            </ul>
        </nav>
    </section>

<!-- PRODUCTS DESKTOP -->
    <div class="productCartDesktop">
        <div class="carrito">
            <section class="productosAgregados">
                <article>
                    <img src="/img/producto.jpg" alt="imagenProducto"> 
                    <p>Lorem ipsum dolor sit.</p>
                    <ul>
                        <li> <form class="unidadesCarrito">
                            <label for="unidadesCarrito">Unidades</label><br>
                            <input type="number" id="unidadesCarrito" name="unidadesCarrito" value="1">
                          </form>
                        </li>
                        <li>$ 123456</li>
                    </ul>
                </article>
                <hr>
                <article>
                    <img src="/img/producto.jpg" alt="imagenProducto"> 
                    <p>Lorem ipsum dolor sit.</p>
                    <ul>
                        <li> <form class="unidadesCarrito">
                            <label for="unidadesCarrito">Unidades</label><br>
                            <input type="number" id="unidadesCarrito" name="unidadesCarrito" value="1">
                          </form>
                        </li>
                        <li>$ 123456</li>
                    </ul>
                </article>
                <hr>
                <article>
                    <img src="/img/producto.jpg" alt="imagenProducto">
                    <p>Lorem ipsum dolor sit.</p> 
                    <ul>
                        <li> <form class="unidadesCarrito">
                            <label for="unidadesCarrito">Unidades</label><br>
                            <input type="number" id="unidadesCarrito" name="unidadesCarrito" value="1">
                          </form>
                        </li>
                        <li>$ 123456</li>
                    </ul>
                </article>
                <hr>
            </section>  
        </div>
    </div>

<!-- PRODUCTS MOBILE -->
<div class="productCartMobile">
    <div class="carrito">
        <section class="productosAgregados">
            <article>
                <img src="/img/producto.jpg" alt="imagenProducto"> 
                <p>Lorem ipsum dolor sit.</p>
                <ul>
                    <li> <form class="unidadesCarrito">
                        <label for="unidadesCarrito">Unidades</label>
                        <input type="number" id="unidadesCarrito" name="unidadesCarrito" value="1">
                      </form>
                    </li>
                    <li>$ 123456</li>
                </ul>
            </article>
            <article>
                <img src="/img/producto.jpg" alt="imagenProducto"> 
                <p>Lorem ipsum dolor sit.</p>
                <ul>
                    <li> <form class="unidadesCarrito">
                        <label for="unidadesCarrito">Unidades</label>
                        <input type="number" id="unidadesCarrito" name="unidadesCarrito" value="1">
                      </form>
                    </li>
                    <li>$ 123456</li>
                </ul>
            </article>
            <article>
                <img src="/img/producto.jpg" alt="imagenProducto"> 
                <p>Lorem ipsum dolor sit.</p>
                <ul>
                    <li> <form class="unidadesCarrito">
                        <label for="unidadesCarrito">Unidades</label>
                        <input type="number" id="unidadesCarrito" name="unidadesCarrito" value="1">
                      </form>
                    </li>
                    <li>$ 123456</li>
                </ul>
            </article>
        </section>  
    </div>
</div>

<!------TOTAL CARRITO------>

<div class="totalCarrito">
    <article>
    <ul>
        <li><form class="calculoEnvio">
            <label for="calculoEnvio">Codigo Postal</label>
            <input type="text" id="calculoEnvio" name="calculoEnvio" value="">
        </form>
    </li>
    <li>Total Envio</li>
    <li>$ 1234</li>
    <li>Total a abonar</li>
    <li>$ 123456</li>
    </ul>
</article>
</div>






<!------FOOTER DESKTOP------>
<footer class="footerDesktop">
    <div class="container">
    <a class="logofooter" href="#"><img src="/img/logo_title.png"></a>

    <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Registro</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
    <ul>
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Departamento de obras</a></li>
        <li><a href="#">La empresa</a></li>
    </ul>
    <ul>
        <li><a href="#">Aires Acondicionados</a></li>
        <li><a href="#">Calefaccion</a></li>
        <li><a href="#">Agua caliente sanitaria</a></li>
    </ul>
    <ul class="redSocial">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <small>Made by Grupo_10</small>
</div>
</footer>
<!------FOOTER MOBILE------>
<footer class="footerMobile">
    <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
        <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
        <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
</footer>
</body>
</html>