<!DOCTYPE html>
<html>
<!------HEAD------>
<head>
    <%- include("partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styleProduct.css'>
</head>
<body>
<!------HEADER DESKTOP AND MOBILE------>
<%- include("partials/header.ejs") %>

<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("partials/barraDeNavegacion.ejs") %>

<!------PRODUCTO DESKTOP------>
    <div class="productoDesktop">
        <div class="productoGeneral">
            <section class="productoMitad1">
                <img src="/img/producto.jpg" alt="imagenProducto">
                <h2>FICHA TECNICA</h2>
                <hr>
                <div class="fichaTecnica">
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                    <hr>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
            </section>
            <section class="productoMitad2">
                <div class="titulo">
                    <h1>TITULO PRODUCTO</h1>
                    <div class="estrellasOpiniones">
                        <h4><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></h4>
                        <h5> 1234 Calificaciones</h5>
                    </div>
                    <h3>DESCRIPCION</h3>
                    <ul>
                        <li> - Descripcion principal 1</li>
                        <li> - Descripcion principal 2</li>
                        <li> - Descripcion principal 3</li>
                    </ul>
                </div>
                <div class="precio">
                    <h3>$ 12345</h3>
                    <h4>Metodos de pago</h4>
                    <img src="/img/994049-MERCADO_PAGO.png">
                    <h5>¿Necesitas que te lo enviemos?</h5>
                    <form class="enviosCodPos">
                        <label for="codpos">Ingrese su Codigo Postal</label><br>
                        <input type="text" id="codpos" name="codpos">
                        <input type="submit" value="Calcular Envio">
                      </form>
                      <form class="unidades">
                        <label for="unidades">Unidades</label><br>
                        <input type="number" id="unidades" name="unidades" value="1">
                      </form>
                </div>
                <div class="botones">
                    <a href="#" class="comprar"><h3>Comprar</h3></a>
                    <a href="#"><h3><i class="fas fa-shopping-cart"></i></h3></a>
                    <a href="#"><h3><i class="far fa-heart"></i></h3></a>
                </div>
            </section>
        </div>
        <hr>
        <section class="productosSimilares">
            <div>
                <h2>Productos similares</h2>
            </div>
            <div class="imgProductosSimilares">
                <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                <a class="logo" href="#"><img src="/img/producto.jpg"></a>
                <a class="logo" href="#"><img src="/img/producto.jpg"></a>
            </div>
        </section>
    </div>

<div class="containerTablet">
<!------PRODUCTO MOBILE------>
    <section class="productoMobile">
        <h2>Nombre del producto</h1>
            <img src="/img/producto.jpg" alt="producto">
            <a href="#" class="favHeart"><h3><i class="far fa-heart"></i></h3></a>
            <h1>$ 1234</h1>
            <a href="#" class="mediosDePago"><h3>Ver los medios de pago</h3></a>
            <h3 class="envios">Calcular envio</h3>
                <form class="enviosCodPos">
                    <label for="codpos">Ingrese su Codigo Postal</label><br>
                    <input class="text" type="text" id="codpos" name="codpos">
                    <input class="button" type="submit" value="Calcular">
                </form>
                <form class="unidades">
                    <label for="unidades">Unidades</label>
                    <input type="number" id="unidades" name="unidades" value="1">
                </form>
                <div class="botonesHorizontales">
                    <a href="#" class="comprar"><h3>Comprar</h3></a>
                    <a href="#" class="carrito"><h3>Agregar a carrito</h3></a>
                </div>  
    </section>
    <hr>
<!------ALTERNATIVAS MOBILE------>
    <article class="producAlternativos">
        <h3>Tambien te puede interesar</h3>
        <a href="#">
        <div class="producConteiner">
             <img src="/img/producto.jpg">
                <div class="detalle">
                    <h3>Nombre del producto</h3>
                    <h1>$ 1234</h1>
                </div>
        </div>
        </a>
        <a href="#">
        <div class="producConteiner">
            <img src="/img/producto.jpg">
                <div class="detalle">
                    <h3>Nombre del producto</h3>
                    <h1>$ 1234</h1>
                </div>
        </div>
        </a>
        <a href="#" class="alternativaTablet">
            <div class="producConteiner">
                <img src="/img/producto.jpg">
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <h1>$ 1234</h1>
                    </div>
            </div>
            </a>
        <a href="#" class="alternativaTablet">
            <div class="producConteiner">
                <img src="/img/producto.jpg">
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <h1>$ 1234</h1>
                    </div>
            </div>
        </a>
    </article>
    <hr>
<!------CARACTERISTICAS------>
    <section class="caracteristicas">
        <h2>Caracteristicas principales</h2>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
     </section>
<!------MEDIOS DE PAGO------>  
    <article class="mediosDePago">
        <h3>Medios de pago</h3>
        <img src="/img/994049-MERCADO_PAGO.png">
    </article>

</div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("partials/footer.ejs") %>
</body>
</html>