<!------SECTION BAR. DE NAV. DESKTOP------>
<section class="barDeNav">
    <nav>
        <ul>
            <li><a href="#"><button>Categorias</button></a></li>
            <li><a href="#"><button>Departamento de obras</button></a></li>
            <li><a href="#"><button>La empresa</button></a></li>
        </ul>
    </nav>
</section>