<!------FOOTER DESKTOP------>
<footer class="footerDesktop">
    <div class="container">
    <a class="logofooter" href="#"><img src="/img/logo_title.png"></a>

    <ul>
        <li><a href="login">Login</a></li>
        <li><a href="register">Registro</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
    <ul>
        <li><a href="/products">Productos</a></li>
        <li><a href="#">Departamento de obras</a></li>
        <li><a href="#">La empresa</a></li>
    </ul>
    <ul>
        <li><a href="/products/aireacondicionado">Aires Acondicionados</a></li>
        <li><a href="/products/calefaccion">Calefaccion</a></li>
        <li><a href="/products/aguacaliente">Agua caliente sanitaria</a></li>
    </ul>
    <ul class="redSocial">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <small>Made by Grupo_10</small>
</div>
</footer>
<!------FOOTER MOBILE------>
<footer class="footerMobile">
    <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
        <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
        <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
</footer>