        <meta charset='utf-8'>
        <link rel="shortcut icon" href="/img/logo_title.png" type="image/png">
        <title>HOME | B&B Clima</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://kit.fontawesome.com/65417c754c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Armata&family=Barlow&family=Roboto&display=swap" rel="stylesheet">
        <link rel='stylesheet' type='text/css' media='screen' href='/css/styleGeneral.css'>
        <script src="/js/front.js"></script>