<!DOCTYPE html>
<html lang="en">
<!------HEAD------>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styleRegister.css'>
</head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>
    
<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>
    
    <!------FORM DE REGISTRO------>
    
    <section class="forms">
        <h1>REGISTRO</h1>
        <br>        
        <h3>Completá tus datos:</h3>
        <br>
        <div>
            <form class="register" method="POST">
                <label for="register">Nombre:</label>
                <br>
                <input type="text" name="nombre" id="register">
            </form>
            <br>
            <form class="register" method="POST">
                <label for="register">Apellido:</label>
                <br>
                <input type="text" name="apellido" id="register">
            </form>
            <br>
            <form class="register" method="POST">
                <label for="register">Email:</label>
                <br>
                <input type="email" name="email" id="register">
            </form>
            <br>
            <form class="register" method="POST">
                <label for="register">Teléfono:</label>
                <br>
                <input type="number" name="telefono" id="register">
            </form>
            <br>
            <form class="register" method="POST">
                <label for="register">Contraseña:</label>
                <br>
                <input type="password" name="password" id="register" value="Contraseña">
            </form>
            <br>
            <form class="register" method="POST">
                <label for="register">Confirmar contraseña:</label>
                <br>
                <input type="password" name="password" id="register" value="Contraseña">
            </form>
            <br>
            <form class="register" action="register.ejs" method="POST">
                <input type="submit" value="Confirmar">
                
            </form>
        </div>
    </section>
    
    <!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("../partials/footer.ejs") %>
</body>
</html>